.Form-post {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
}
input,textarea {
  width: 50%;
}
.btn_add {
  background-color: #2b2f80;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
}
h2 {
  color: #2b2f80;
  margin-bottom: 10px;
  text-align: center;
}
.titre-add{
    font-size: 40px;
    color: #2b2f80;
    text-align: center;
    margin-bottom: 20px;
}