.btn_upd {
  width: 50%;
  margin-top: 20px;
}
.form-upd {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
}
.titre-mod{
    font-size: 40px;
    color: #2b2f80;
    text-align: center;
    margin-bottom: 20px;
}
